/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *\
 *
*/

$layout-header-bg-color: rgb(66,66,66) !default;

@import "material/color-definitions";

$color-primary: $palette-amber-500;
$color-primary-dark: $palette-amber-500;
$color-accent: $palette-amber-500;

@import 'material';


body 
{
  background-color: #272822;
  color: #EEEEEE;
}

#cube-time 
{
  font-size: 400px;
  line-height: 100%;
}

#scramble
{
  font-size: 20px;
  line-height: 100%;
}